<ion-header-bar align-title="center" class="bar-positive">
  <button class="button button-icon ion-android-arrow-back"></button>
  <h1 class="title">Confirm your booking</h1>
</ion-header-bar>

<ion-content class="has-header">
	<div class="row item-booking">
		<div class="col col-20">
			<img src="img/coca.jpeg"/ width="100px">
		</div>
		<div class="col col-offset-20 col-50 item-price">
			<p> $3.60 x 2 = $7.20</p>
		</div>
	</div>
	<div class="row item-booking">
		<div class="col col-20">
			<img src="img/coca.jpeg"/ width="100px">
		</div>
		<div class="col col-offset-20 col-50 item-price">
			<p> $3.60 x 2 = $7.20</p>
		</div>
	</div>
	<div class="row item-booking">
		<div class="col col-20">
			<img src="img/coca.jpeg"/ width="100px">
		</div>
		<div class="col col-offset-20 col-50 item-price">
			<p> $3.60 x 2 = $7.20</p>
		</div>
	</div>
	<div class="total-price ">
		<h3 class="col col-offset-50">Total: 25.2$</h3>
	</div>
	<div class="book-input">
	<h3>Time to pick up</h3>
		<div class="row">
			<div class="col col-33">
			    <input type="text" placeholder="Day" class="input-booking">
			</div>
			<div class="col col-33">
				<input type="text" placeholder="Month" class="input-booking">
			</div>
			<div class="col col-33">
				<input type="text" placeholder="Year" class="input-booking">
			</div>
		</div>
		<div class="row">
			<div class="col col-33">
				<input type="text" placeholder="18:00" class="input-booking">
			</div>
			<div class="col col-offset-5 list">
				<label class="item item-input item-select">
				 <div class="input-label">
				     Time
				  </div>
			    <select>
			      <option>AM</option>
			      <option selected>PM</option>
			    </select>
  				</label>
			</div>
		</div>
		<div style="padding-top:20px">
			 <button class="button button-positive col-offset-10 col-50">Confirm</button>
			<button class="button button-assertive col-offset-10 col-50">Back to booking</button>
		</div>
	</div>
</ion-content>