<ion-header-bar align-title="center" class="bar-assertive">
  <h1 class="title">Login</h1>
</ion-header-bar>

<ion-content class="has-header login-background test">
    <ion-card>
        <img src="img/food.png" alt="picture" class="loginImage"/>
    </ion-card>

    <div class="list list-inset">
        <label class="item item-input username">
          <input type="text" placeholder="Username" ng-model="user.username">
        </label>

        <label class="item item-input password">
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
    </div>
    <div class="btnLogin">
      <button class="button button-block button-small button-assertive btnLogin-size"
              ng-click="login()"
      >
          Login
      </button>
    </div>
    <div class="subLogin">
        <p5>Don't have an account? <a href="#/signup" style="color: orangered; font-weight: 900;">Sign Up</a></p5>
    </div>

    <div style="text-align: center; margin-top: 10px;">
        <a href="" style=" color: black; font-weight: 600;">Forgot password?</a></p5>
    </div>
</ion-content>
