<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">choose your meal</h1>
  <div class="buttons" >
    <button class="button" >Confirm</button>
  </div>
</ion-header-bar>

<ion-content class="has-header">
  <div class="list">
      <a class="item item-avatar" href="#">
        <img src="img/hesburger.png">
          <h2 class="restaurant">Hesburger</h2>
      </a>
    <ion-checkbox>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/burger.jpg">
          <h2>Burger 1</h2>
          <p class="price">Price: 5$</p>
      </a>
    </ion-checkbox>
    <ion-checkbox>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/burger.jpg">
          <h2>Burger 1</h2>
          <p class="price">Price: 5$</p>
      </a>
    </ion-checkbox>
    <ion-checkbox>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/burger.jpg">
          <h2>Burger 1</h2>
          <p class="price">Price: 5$</p>
      </a>
    </ion-checkbox>
  </div>
</ion-content>
