<ion-header-bar align-title="center" class="bar-assertive">
    <button class="button button-icon ion-android-arrow-back" ng-click="GoBack()"></button>
    <h1 class="title">Sign up</h1>
</ion-header-bar>

<ion-content class="has-header">
    <div class="bannerSignup">
        <h4 style="color: orangered; text-align: center;">JOIN WITH US - GET MORE BENEFIT</h4>
    </div>

    <div class="nameSignup">
        <div class="row ">
            <div class="col">
                <label class="item item-input" style="height: 30px !important;">
                    <input type="text" placeholder="First Name">
                </label>
            </div>

            <div class="col">
                <label class="item item-input" style="height: 30px !important; padding-top: 2px;">
                    <input type="text" placeholder="Last Name">
                </label>
            </div>
        </div>
    </div>

    <div class="list list-inset" style="margin-top: 11px !important;">
        <label class="item item-input emailSignup">
          <input type="text" placeholder="Email" ng-model="newuser.username">
        </label>

        <label class="item item-input phoneSignup">
          <input type="text" placeholder="Phone number">
        </label>

        <label class="item item-input pwSignup" >
          <input type="password" placeholder="Password" ng-model="newuser.password">
        </label>

        <label class="item item-input confirmPwSignup">
          <input type="password" placeholder="Confirm Password">
        </label>

    </div>

    <div class="signup">
        <button class="button button-block button-assertive" ng-click="signup()">
            Sign up
        </button>
    </div>

</ion-content>
