<ion-view>
	<ion-nav-title>
      Restaurant Finder
  </ion-nav-title>
	<ion-nav-buttons class="button-bar" side="right">
        <button class="button button-icon ion-ios-navigate-outline" ng-click="MapView()"></button>
	</ion-nav-buttons>

	<ion-content>
	<div style="padding:15px">
		<div class="row">
			<div class="col col-50">
				<img src="img/hesburger.png" style="width: 130px">
				<h3>Hesburger</h3>
				<p>0.6km away</p>
			</div>
			<div class="col col-50">
				<img src="img/MCDonald.jpg" style="width: 130px; height: 130px">
				<h3>McDonald</h3>
				<p>1.2km away</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<img src="img/hesburger.png" style="width: 130px">
				<h3>Hesburger</h3>
				<p>0.6km away</p>
			</div>
			<div class="col col-50">
				<img src="img/MCDonald.jpg" style="width: 130px; height: 130px">
				<h3>McDonald</h3>
				<p>1.2km away</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<img src="img/hesburger.png" style="width: 130px">
				<h3>Hesburger</h3>
				<p>0.6km away</p>
			</div>
			<div class="col col-50">
				<img src="img/MCDonald.jpg" style="width: 130px; height: 130px">
				<h3>McDonald</h3>
				<p>1.2km away</p>
			</div>
		</div>
	</div>
	</ion-content>
</ion-view>
