<ion-view>
	<ion-nav-title>
      Home
  </ion-nav-title>
	<ion-content>
	<div class="list card">
		<h1>#1</h1>
		<div class="item" style="display: inline-flex;">
		  <img src="img/MCDonald.jpg"/ width="100" height="100">
		  <h1>MCDonald</h1>
		</div>

		<div class="item item-body">
		  <img class="full-image" src="img/MCDonald-highlight.jpg"/>
		  <h2 style="font-size: 1.2em; font-weight: bold">Ordered by 10 times today</h2>
		</div>
	</div>
	<div class="list card">
		<h1>#2</h1>
		<div class="item" style="display: inline-flex;">
		  <img src="img/MCDonald.jpg"/ width="100" height="100">
		  <h1>MCDonald</h1>
		</div>

		<div class="item item-body">
		  <img class="full-image" src="img/MCDonald-highlight.jpg"/>
		  <h2 style="font-size: 1.2em; font-weight: bold">Ordered by 10 times today</h2>
		</div>
	</div>
	</ion-content>
</ion-view>
