<ion-view>
	<ion-nav-title>
      Orders
  </ion-nav-title>
	<ion-nav-buttons class="button-bar" side="right">
        <!-- <button class="button button-icon ion-ios-navigate-outline" ng-click="MapView()"></button> -->
	</ion-nav-buttons>

	<ion-content>
    <div class="list" ng-repeat="order in orders">
      <a class="item item-thumbnail-left order-info" href="#">
        <img class="item-image-custom" src="img/coca.jpeg">
          <div class="">
            <h2 class="item-name-custom">Order ID: {{order.Order_id}}</h2>
            <p>{{order.NameRestaurant}}</p>
          </div>
          <div class="">
            <h2 class= "item-status-custom">Status: <span class="item-status-name-custom">{{order.Status}}</span></h2>
            <hr>
            <p>Order date: <span>{{order.Date_Order}}</span></p>
            <p>Deliver date: <span>{{order.Date_Deli}}</span></p>
          </div>
      </a>
    </div>
	</ion-content>
</ion-view>
