<ion-header-bar align-title="center" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon ion-android-arrow-back" ng-click="GoBack()"></button>
  </div>
  <h1 class="title">Hesburger</h1>
  <div class="buttons" >
    <button class="button" ng-click="ConfirmOrder()">Confirm</button>
  </div>
</ion-header-bar>

<ion-content>
  <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="img/burger.jpg">
          <h2>Burger 1</h2>
          <p class="price">Price: 5$</p>
      </a>
  </div>
</ion-content>
