<ion-header-bar align-title="center" class="bar-assertive">
  <div class="buttons">
    <button class="button button-icon ion-android-arrow-back" ng-click="GoBack()"></button>
  </div>
  <h1 class="title">Hesburger</h1>
  <div class="buttons" >
    <!-- <a class="button" href="#/tab/home">Home</a> -->
  </div>
</ion-header-bar>

<ion-content cache-view="false">
		<div class="card">
			<div class="item item-avatar item-thumbnail-left avatar-bar-custom" href="#">
				<img ng-src="img/hesburger.png">
				<h2 class="padding-top">Address</h2>
        <p>Isokatu 40</p>
				<!-- <button class="button button-icon icon ion-android-more-vertical btn-avatar" ></button> -->
			</div>

      <div class="item item-text-wrap">
        <h2>Restaurant's description:<h2> <br>
        <p>Hesburger is a fast-food chain based in Turku,
        Finland. Today, it is the largest hamburger restaurant
        chain in Finland - with a larger presence in the Finnish
        market than U.S. company rival, McDonald's.
        </p>
      </div>

			<div class="button-bar">
				<a class="button button-icon icon ion-ios-telephone-outline assertive" ng-click=""></a>
        <a class="button button-icon icon ion-ios-navigate-outline assertive" ng-click=""></a>
				<a class="button button-icon icon ion-ios-compose-outline assertive" href="#/restaurant/menu"></a>
			</div>
		</div>
</ion-content>
