.tabs-color-assertive .tab-item.tab-item-active,
 .tabs-color-assertive .tab-item.active,
  .tabs-color-assertive .tab-item.activated {
    color: #ff1200 !important;
}
.tabs-color-assertive .tab-item {
	color: rgba(93, 93, 93, 0.4) !important;
	opacity: 1 !important;
}

/*login */
.login-background{
	padding-top: 10%;
}

.loginImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
		width:130px !important;
		height:130px !important;
}

.username {
    height: 38px;
		margin : 0px 12% 10px 12% !important;
}

.password{
    height: 38px;
		margin : 0px 12% 10px 12% !important;
}

.btnLogin{
	margin : -0.5em 20% 0 20% !important;
}

.btnLogin-size{
	font-size: 1em !important;
}

.subLogin{
    margin-top: 40px !important;
    text-align: center;
}

/*Sign up */
.bannerSignup{
    margin-top: 45px !important;
}

.nameSignup{
		 margin : 1.5em 10% 0 10% !important;
}

.emailSignup{
    height: 30px;
		margin : 0 10% 21px 10% !important;
}

.pwSignup{
    height: 30px;
    margin : 0 10% 21px 10% !important;
}

.confirmPwSignup{
		height: 30px;
		margin : 0 10% 21px 10% !important;
}

.phoneSignup{
		height: 30px;
		margin : 0 10% 21px 10% !important;
}

.btnSignup{
    width: 200px;
    height: 20px !important;
}
.signup{
		margin : -0.5em 20% 0 20% !important;
}

/* Orders */
.item .item-image-custom {
	top: 0 !important;
	left: 0 !important;
	max-width:  100px !important;
	max-height: 300px !important;
	border: 2px solid #ef473a;
}

.item .item-name-custom {
	color : #ef473a !important;
	font-weight: 700;
}

.item-status-custom {
	font-weight: 700 !important;
	top: em;
	right: 1.5em;
	margin: 0px !important;
}

.item-status-name-custom {
	color : #8bc34a !important;
	font-weight: 700 !important;
}
.item p {
	color: #7d7d7d !important;
}
.item p span {
	color:  !important;
}

.order-info {
}
/*css divider*/
hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}
/*    */

.item-price{
	padding-top: 30px;
	font-size: 1.2em !important;
}
.item-booking{
	border-bottom: 1px solid;
}
.input-booking{
	border: 1px solid !important;
	width: 100%;
	border-radius: 10px;
}
.input-booking::-webkit-input-placeholder {
  color: #3f51b5;
  text-align: center
}

.price{
	color: red !important;
	font-size: 1.3em !important;
}
.restaurant{
	margin-top: 6px !important;
	font-size: 1.3em !important;
}
.scroll {
    height: 100%;
}
#search{
	background: #ef473a;
	height:80px;
}
.search-bar{
	position: relative;
	top:20%;
	left: 10%;
	width: 70%;
	
}
#inputSearch{
	border-radius: 10px;
	border: 1px solid #ef473a;
	padding: 15px;
	background:  #e6675d;
}
.ion-compass{
	font-size: 20px;
	margin-left: 10px;
}

#map {
    width: 100%;
    height: 100%;
}
